/* Mobile Styles */
@media only screen and (max-width: 413px) {
  .hero {
    display: flex;
    flex-wrap: wrap;
  }
  .content h1 {
    font-size: 2.5em;
    text-align: left;
    margin-top: 0.5em;
    color: blanchedalmond;
    margin-left: 0.5em;
  }
  .content p {
    font-size: 1.5em;
    margin-top: 0.75em;
    color: blanchedalmond;
    margin-left: 0.45em;
    line-height: 1.6;
    margin-right: 2em;
  }
  .text-boxed h1 {
    font-size: 3em;
  }
  .contact-form {
    margin-left: 0.1em;
    width: 95%;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 414px) and (max-width: 960px) {
  .hero {
    display: flex;
    flex-wrap: wrap;
  }
  .content h1 {
    font-size: 3em;
    text-align: left;
    margin-top: 0.5em;
    color: blanchedalmond;
    margin-left: 0.5em;
  }
  .content p {
    font-size: 2em;
    margin-top: 1em;
    color: blanchedalmond;
    margin-left: 0.75em;
    line-height: 1.6;
    margin-right: 1em;
  }
  .text-boxed h1 {
    font-size: 4em;
  }
  .contact-form {
    margin-left: 0.2em;
    width: 90%;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 745px) and (orientation: landscape) {
  .hero {
    display: flex;
    flex-wrap: wrap;
  }
  .content h1 {
    font-size: 2.5em;
    text-align: left;
    margin-top: 0.5em;
    color: blanchedalmond;
    margin-left: 0.5em;
  }
  .content p {
    font-size: 1.5em;
    margin-top: 0.75em;
    color: blanchedalmond;
    margin-left: 0.45em;
    line-height: 1.6;
    margin-right: 2em;
  }
}
@media only screen and (max-width: 1113px) {
  .first-sec {
    display: flex;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 680px) {
  .first-sec video {
    width: 99%;
    margin-left: 2%;
  }
}

/*hamburger*/
.side {
  display: none;
}
.hamburger {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1.5rem 1.5rem;
  position: fixed;
  top: 0;
  right: 0;
  backdrop-filter: calc(10px);
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: white;
  box-shadow: -8px 0 8px rgba(0, 0, 0, 0.1);
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  backdrop-filter: calc(10px);
  gap: 35px;
}
.hamburger-menu li a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  background: black;
  border-radius: 12px;
  transition: all 0.4s ease;
}
.hamburger-menu li a:hover:before {
  width: 100%;
}

.ham-link {
  font: 10px;
  color: black;
  position: relative;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 0;
  justify-content: space-between;
  text-decoration: none;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  position: relative;
}
.ham-link:hover {
  color: #01669c;
}
.side-menu {
  margin-left: 2em;
}
.svg {
  color: white;
}
@media (max-width: 1124px) {
  .nav-item {
    display: none;
  }
  .secondary-btn {
    display: none;
  }
  .side {
    display: block;
  }
  .hamburger-menu li a {
    font-size: 1em;
  }
  .hamburger {
    width: 60%;
  }
}
@media only screen and (min-width: 1125px) and (max-width: 1246px) {
  .nav-menu li a {
    font-size: 1.2em;
  }

  .secondary-btn {
    width: 5%;
  }
  .nav-item {
    width: 40%;
  }
}

.ham-item {
  margin-left: 3rem;
}
.ham-item a {
  font-size: 1.3rem;
  color: #000;
}
.ham-item:hover .dropdown-content {
  max-height: 500px;
  min-width: 160px;
  transition: max-height 0.25s ease-in;
}
/*About us page*/
@media only screen and (max-width: 800px) {
  .about-sec img {
    display: none;
  }
}
/*footer*/
@media only screen and (max-width: 1117px) {
  .line {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  .footer-center {
    margin-left: 55%;
  }
}
