

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{overflow-x: hidden;}

body{
    height: 100%;
    width: fit-content;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* css to reset all the designs */

/* add styles on elements */

.header {
    border-bottom: 1px solid #E2E8F0;
    background-color:#01669c;
    height:10.5em;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.5rem;
}

.hamburger {
    display: none;
}
.secondary-btn {
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: black;
    background-color: white;
    margin-left: 2em;
   }
   
   .secondary-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   }
   
   .secondary-btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   }
   
   .secondary-btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .4s;
   }
   
   .secondary-btn::after {
    background-color: #fff;
   }
   
   .secondary-btn::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
   }

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    /* background-color: #101010; */
    background-color: #fff;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.nav-item {
    margin-left: 3rem;
}
.nav-item a{
    font-size: 2.5rem;
  }
.navbar img{
    width: 150px;
    height: 120px;
    margin-top: -15px;
    margin-bottom: -15px
}
.nav-link {
    font: 10px;
    color: black;
    position: relative;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 0;
    justify-content: space-between;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    position: relative;
  }
  .nav-menu li a:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    background: black;
    border-radius: 12px;
    transition: all 0.4s ease;
  }
  .nav-menu li a:hover:before{
    width: 100%;
  }
  .nav-menu li a:before{
    left: 50%;
    transform: translateX(-50%);
   
  }

.nav-link:hover {
    color: #ffffff;
}


@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        /* background-color: #fff; */
        background-color: #222;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-link {
        color: #fff;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

/*drop-dowm button*/
.dropdown-content {
    margin-top: 5px;
    position: absolute;
    border-radius: 9px;
    background-color: #d7caca;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 98;
    max-height: 0;
    min-width: 160px;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
  }
  
  .dropdown-content a {
    color: black;
    background-color: #f9f9f9;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #e2e2e2;
  }
  
  .nav-item:hover .dropdown-content {
    max-height: 500px;
    min-width: 160px;
    transition: max-height 0.25s ease-in;
  }
  

/*nav bar ends and hero-section starts-here*/
.hero{
    background-image: url(../image/hero-medium.jpg) ;
    width: fit-content;
    height: 80vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items:self-start;
    text-align:left;
  padding-top: 0.3em;
  margin-bottom: 1em;
}
.content h1{
    font-size: 10em;
    text-align: left;
    margin-top: 0.75em;
    margin-bottom: 0.5em;
    color: white;
    margin-left: 0.5em;
}
.content{
    display: flex;
}
.content p{
    font-size: 3em;
    margin-top: 5em;
    color: white;
    margin-left: 2em;
    line-height: 1.8;
    font-family:  "Montserrat", sans-serif;
    font-optical-sizing: auto;
}
/*About us starts here*/
.about-sec img{
    width: 80vh;
    border-image: fill 0 linear-gradient(#0003,#000);
    transition: 0.5s ease;
}
.about-sec:hover img{
    transform: scale(1.05);
}
.second-section{
    display: flex;
    justify-content: center;
    align-items: normal;
    margin: 4em 10em 0 10em;
    padding: 0.15em;
    background-color: #f7f7f7;
    border-radius: 2%;
  
}


.about-sec{
    display: flex;
    margin: 2em;
    justify-content:flex-end;
    flex-direction: row;
}
.about-sec-in h3{
    font-size: 4.4em;
    margin-left: 5em ; 
}
.about-sec-in p{
    margin: 2.5em 0em 0em 5em;
    font-size: 1.75em;
    line-height: 1.8;
    font-family:"Montserrat", sans-serif;
}
.about-sec button{
    margin: 2.5em 0em 0em 6em;
}
.join-btn {
    background: #f6821f;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    width: 10em;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
   
    touch-action: manipulation;
    vertical-align: middle;
  }
  
  .join-btn:hover,
  .join-btn:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
  }
  
  .join-btn:active {
    opacity: .5;
  }

  /*what we do starts*/
.what{
    font-size:6em;
    margin-top: 0.1em;
    text-align: center;
    
    color: white;
    padding-top: 1%;
}
 
  .container{
  margin-top: 2%;
    display:grid;
    justify-content: center;
    grid-template-columns: 550px 550px;
    grid-row: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
  }
    
.box1{
     display: flex;
     padding:20px;
     border-radius:10px;
     background-color:#cdced8;
     display:flex;
     margin-bottom: 20px; 
     width: 70%;
     justify-content:center;
     font-size:20px;
     font-family:"Montserrat", sans-serif;
     flex-direction: column;
    transition: transform 0.5s ease-out; 
    --shadowColor: 200 60% 40%;
    box-shadow: 0.65rem 0.65rem 0 hsl(var(--shadowColor) / 1); 
    }
.box{
    display: flex;
      background-color:#cdced8;
      padding:20px;
      border-radius:10px;
      display:flex;
      justify-content:center;
      font-size:20px;
      font-family:sans-serif;
      flex-direction: column;
      transition: transform 0.5s ease-out; 
      width: 70%;
      --shadowColor: 280 60% 40%;
      box-shadow: 0.65rem 0.65rem 0 hsl(var(--shadowColor) / 1); 
    }
.box1 h3{
    color: #000;
    margin-bottom: -5%;
    padding-top: 8px;
    font-family: "Montserrat", sans-serif;
   }
.box h3{
    color: #000;
    margin-bottom: -5%;
    padding-top: 8px;
   }


 .box:hover{
        transform: translateY(-25px);
    }

 .box1:hover{
  transform: translateY(-25px);
  }
.box p{
 font-family: "Montserrat", sans-serif;
line-height: 1.6;
font-size: 18px;
 color: white;
        
 }
 .box1 p{
 line-height: 1.6;
font-size: 0.9em;
font-family: "Montserrat", sans-serif;
  }
  
.box-em2{
    padding-bottom: 20px;
    height: 260px; 
    margin-top: -20%; 
 }
.box-em3{
padding-bottom: 20px;
height: 250px;
margin-top: -4%;
 }
 .box1-em{
    margin-top: -10%;
 }

 header{
    font-size: larger;
    color: white;
  }
.lame{
   background-attachment:fixed;
   margin-top: 3em;
    width: auto;
    height: 205vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
   padding-bottom: 15%;
    background-color:  #99c1d5fa; 
  }
.lame p{
    color: black;
    font-weight: bolder;
    padding-top: 30px;
  }

 

/*who we work starts*/
.iconed img{
width: 75px;
}
.iconed{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;
}
.sec-4{
    margin-top: 3em;
    background-color:#f7f7f7;
    border-radius: 15px;
    padding-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
    
}

.sec-4 h1{
    text-align: center;
    font-size: 6em;
    font-family: "Oswald", sans-serif;;
}
/*end of section*/
.CTA{
    display: flex;
    border-top: 1px solid;
    border-bottom: 1px solid;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
   background-color: #74778e;
}
.CTA-2 h1{
    margin-top: 0.3em;
    text-align: center;
    margin-left: -1em;
    font-size:5em ;
    color: white;
}
.CTA-2{
    margin-top: -1%;
    font-size: 2em;
    line-height: 1.5;
}
.CTA-2 p{
    text-align:justify;
    padding: 1em 2.5em;
    color:white;
    font-size: 1.5em;
}

.CTA-btn {
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 3em;
    transition: all .2s;
    border: none;
    font-family: inherit;
font-weight: 500;
color: white;
background-color:black; /*#c4bd6e;*/

  width: 12em;
  height: 4em;
  

   }
   .CTA-1 button{
    margin-left: 12em;
    margin-top: 3%;
}
   
   .CTA-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   }
   
   .CTA-btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   }
   
   .CTA-btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .4s;
   }
   
   .CTA::after {
    background-color: #fff;
   }
   
   .CTA-btn::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
   }

  /*footer*/
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

  * {
    font-family: Open Sans;
  }
  
  .footer-last{
    background: #ebf6f9;
   
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    display: block;
    
  }
  
  .footer-last .footer-left,
  .footer-last .footer-center
  {
    display: inline-block;
    vertical-align: top;
  }
  
  /* Footer left */
  
  
  
  /* The company logo */
  
  .footer-last h3{
    color:  black;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
  }
  
  .footer-last h3 span{
    color:  lightseagreen;
  }
  
  /* Footer links */
  
  .footer-last .footer-links{
    color:  black;
    margin: 20px 0 12px;
    padding: 0;
  }
  
  .footer-last .footer-links a{
    display:inline-block;
    line-height: 1.8;
    font-weight:400;
    text-decoration: none;
    color:  inherit;
  }
  
  .footer-last .footer-club-name{
    color:  #222;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  
  
  .footer-last .footer-center{
    width: 35%;
  }
  .footer-club-name{
      margin-bottom: -20%;
  }
  
  .footer-center{
      margin-top:- 30%;
      margin-left: 75%;
  
  }
  .footer-left{
      margin-bottom: -10%;
  }
  
  .footer-last .footer-center p{
    display: inline-block;
    color: black;
    font-weight:400;
    vertical-align: middle;
    margin:0;
  }
  
  .footer-last .footer-links{
      margin-left:50% ;
  }
  
  .footer-last .footer-center p a{
    color:  lightseagreen;
    text-decoration: none;;
  }
  .footer-links{
      display: inline-flex;
      
  }
  
  .footer-last .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: black;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-last .footer-links:before {
    content: none;
  }
  
  /* Footer Right */
  
  .footer-last .footer-right{
    width: 20%;
  }
  
  
  .footer-left img{
      width: 100px;
      margin-bottom: -5%;
  }
  .line{
      
      margin-left: 50%;
  }
  